@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Signika+Negative:300,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39&display=swap');

@font-face {
  font-family: 'Termina';
  src: url('/fonts/termina-regular.otf');
}

@font-face {
  font-family: 'AsgardBold';
  src: url('/fonts/asgard-bold.ttf') format('truetype');
}
@font-face {
  font-family: 'AsgardFat';
  src: url('/fonts/asgard-fat.ttf') format('truetype');
}
@font-face {
  font-family: 'AsgardLight';
  src: url('/fonts/asgard-light.ttf') format('truetype');
}

@font-face {
  font-family: 'Onigashima';
  src: url('/fonts/onigashima.ttf') format('truetype');
}
@font-face {
  font-family: 'Sukoro';
  src: url('/fonts/sukoro.otf') format('truetype');
}
@font-face {
  font-family: 'Genjiro';
  src: url('/fonts/genjiro.otf') format('truetype');
}
@font-face {
  font-family: 'Knight Souls';
  src: url('/fonts/knight-souls.otf') format('truetype');
}
@font-face {
  font-family: 'Royal Samurai';
  src: url('/fonts/royal-samurai.ttf') format('truetype');
}
@font-face {
  font-family: 'Frigate';
  src: url('/fonts/frigate.ttf') format('truetype');
}
@font-face {
  font-family: 'Andes';
  src: url('/fonts/andes.ttf') format('truetype');
}

@font-face {
  font-family: 'JugendstilOrnamente';
  src: url('/fonts/jugendstil-ornamente.ttf') format('truetype');
}
@font-face {
  font-family: 'Rundkursiv';
  src: url('/fonts/rundkursiv.ttf') format('truetype');
}
@font-face {
  font-family: 'NeueZierSchrift';
  src: url('/fonts/neue-zier-schrift.ttf') format('truetype');
}

@font-face {
  font-family: 'DuneRise';
  src: url('/fonts/dune-rise.ttf') format('truetype')
}
@font-face {
  font-family: 'ElvishRing';
  src: url('/fonts/elvish-ring.ttf') format('truetype')
}
@font-face {
  font-family: 'StarJedi';
  src: url('/fonts/star-jedi.ttf') format('truetype')
}
@font-face {
  font-family: 'Tesla';
  src: url('/fonts/tesla.ttf') format('truetype')
}
@font-face {
  font-family: 'Sega';
  src: url('/fonts/sega.ttf') format('truetype')
}
@font-face {
  font-family: 'BladeRunner';
  src: url('/fonts/blade-runner.ttf') format('truetype')
}
@font-face {
  font-family: 'GameOfSquids';
  src: url('/fonts/game-of-squids.ttf') format('truetype')
}
@font-face {
  font-family: 'Hobbiton';
  src: url('/fonts/hobbiton.ttf') format('truetype')
}
@font-face {
  font-family: 'MiddleEarth';
  src: url('/fonts/middle-earth.ttf') format('truetype')
}

.font-inter {
  font-family: 'Inter', sans-serif;
}

.font-termina {
  font-family: 'Termina', sans-serif;
}

.font-young-serif {
  font-family: 'Young Serif', sans-serif;
}

.font-nosifer {
  font-family: 'Nosifer', sans-serif;
}

.font-righteous {
  font-family: 'Righteous', sans-serif;
}

.font-tangerine {
  font-family: 'Tangerine', cursive;
}

.font-space-mono {
  font-family: 'Space Mono', monospace;
}

.font-quantico {
  font-family: 'Quantico', sans-serif;
}

.font-rubik-moonrocks {
  font-family: 'Rubik Moonrocks', sans-serif;
}

.font-arizonia {
  font-family: 'Arizonia', cursive;
}

.font-libre-barcode {
  font-family: 'Libre Barcode 39', sans-serif;
}

.font-asgard-bold {
  font-family: 'AsgardBold', sans-serif;
}
.font-asgard-fat {
  font-family: 'AsgardFat', sans-serif;
}
.font-asgard-light {
  font-family: 'AsgardLight', sans-serif;
}

.font-onigashima {
  font-family: 'Onigashima', sans-serif;
}
.font-sukoro {
  font-family: 'Sukoro', sans-serif;
}
.font-genjiro {
  font-family: 'Genjiro', sans-serif;
}
.font-knight-souls {
  font-family: 'Knight Souls', sans-serif;
}
.font-royal-samurai {
  font-family: 'Royal Samurai', sans-serif;
}
.font-frigate {
  font-family: 'Frigate', sans-serif;
}
.font-andes {
  font-family: 'Andes', sans-serif;
}

.font-jugendstil-ornamente {
  font-family: 'JugendstilOrnamente', sans-serif;
}
.font-rundkursiv {
  font-family: 'Rundkursiv', sans-serif;
}
.font-neue-zier-schrift {
  font-family: 'NeueZierSchrift', sans-serif;
}

.font-dune-rise {
  font-family: 'DuneRise', sans-serif;
}
.font-elvish-ring {
  font-family: 'ElvishRing', sans-serif;
}
.font-star-jedi {
  font-family: 'StarJedi', sans-serif;
}
.font-tesla {
  font-family: 'Tesla', sans-serif;
}
.font-sega {
  font-family: 'Sega', sans-serif;
}
.font-blade-runner {
  font-family: 'BladeRunner', sans-serif;
}
.font-game-of-squids {
  font-family: 'GameOfSquids', sans-serif;
}
.font-hobbiton {
  font-family: 'Hobbiton', sans-serif;
}
.font-middle-earth {
  font-family: 'MiddleEarth', sans-serif;
}