@import '@/assets/scss/variables';

@import '@/assets/scss/utils/font';
@import '@/assets/scss/utils/gsap';
@import '@/assets/scss/utils/input';
@import '@/assets/scss/utils/lenis';
@import '@/assets/scss/utils/shape';

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;

  &::selection {
    color: #dbdbdb;
    background: #1b1b1b;
  }
}

html {
  overflow: overlay;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  scroll-behavior: auto;

  &::-webkit-scrollbar {
    width: .25vmax;
    height: .25vmax;
  }

  &::-webkit-scrollbar-track {
    background: #000000;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: .25vmax;
    background: rgb(255, 255, 255);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #afafaf;
  }

  body {
    height: 100%;
    min-height: 100vh;
    padding: 0px;
    background-color: theme('colors.black');
    color: theme('colors.white');
    text-align: center;

    &.index-page {
      background-color: theme('colors.white');
      color: theme('colors.black');
    }

    &.ui-bidirective-page {
      font-family: "Signika Negative", sans-serif;
      font-weight: 300;
      margin: 0;
      padding: 0;
    }
  }

  .overflow-invisible {
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }
}